---
layout: base.njk
---

<article>
    <h2>{{ title }}</h2>

    <!-- {% if image %}
        <img src="{{ image }}" alt="{{ title }}" width="600">
    {% endif %} -->

    <div>
        {{ content | safe }}
    </div>
</article>
